%h2= "#{@person.name}'s Wishlist"
-if !@things.nil?
	%table
		%tr
			%th Name
			%th Description
			%th Link
		%tr
			-@things.each do |thing|
				%tr			
					%td
						%a{:href => "thing/#{thing.id}"}= thing.name
					%td #{thing.description}
					%td
						%a{:href => "#{thing.link}"}= thing.link
